<div class="mt-3 mb-3 px-3 mx-2">
    <div class="d-flex align-items-center justify-content-between">
        <h3 class="mt-2 mb-2">Customer</h3>
        <mat-icon mat-dialog-close type="button" style="color: red;">close</mat-icon>
    </div>
    <kendo-grid [data]="CustomerGridData" [skip]="Cskip" [filterable]="true" [resizable]="true"
      [height]="500" [pageSize]="CpageSize" [sortable]="true" [pageable]="true" [selectable]="{ enabled: true }"
      [filterable]="true" (dataStateChange)="onCStateChange($event)" (pageChange)="CpageChange($event)">

    <kendo-grid-column field="customerCode" title="Customer Id" [width]="110">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div (click)="onCellClick(dataItem, 'customerCode')">{{ dataItem.customerCode }}</div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="customerName" title="Name" [width]="120">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div (click)="onCellClick(dataItem, 'customerName')">{{ dataItem.customerName }}</div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="countryName" title="Country" [width]="140">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div (click)="onCellClick(dataItem, 'countryName')">{{ dataItem.countryName }}</div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="salesOwnerName" title="Sales Owner" [width]="140">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div (click)="onCellClick(dataItem, 'salesOwnerName')">{{ dataItem.salesOwnerName }}</div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="salesExecutiveName" title="Sales Executive" [width]="140">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div (click)="onCellClick(dataItem, 'salesExecutiveName')">{{ dataItem.salesExecutiveName }}</div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="cStatus" title="Status" [width]="140">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div (click)="onCellClick(dataItem, 'cStatus')">{{ dataItem.cStatus }}</div>
        </ng-template>
    </kendo-grid-column>

    <ng-template kendoPagerTemplate>
        <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
        <kendo-pager-numeric-buttons [buttonCount]="buttonCount"></kendo-pager-numeric-buttons>
        <kendo-pager-next-buttons></kendo-pager-next-buttons>
        <kendo-pager-page-sizes class="Page-Short" [pageSizes]="sizes"></kendo-pager-page-sizes>
        <kendo-pager-info></kendo-pager-info>
    </ng-template>
</kendo-grid>

  
  </div>