<div class="table-list-display">
  <div class="component-list">
    <h3 class="box-title">
      <img src="./assets/images/billing-storage.png" alt="Department Details" />
      <span>HS Code Category</span>
    </h3>
    <div class="text-end">
      <button class="btn btn-primary Addbtn" type="button" *ngIf="pagePrivilege.includes('create')" (click)="Add()">
        <i class="fa fa-plus-circle me-2"></i>Add
      </button>
    </div>
    <hr class="mt-0 mb-4" />
    <section class="custom-table-wrapper">
      <kendo-grid [kendoGridBinding]="hSCodeCategory" [filterable]="true" [resizable]="true" [height]="500"
        [pageSize]="10" [sortable]="true" [pageable]="true" [selectable]="{ enabled: true }" (pageChange)="pageChange($event)"
        [skip]="skip">
       
        <kendo-grid-column [style]="{ 'text-align': 'left', padding: '5px' }"
          [headerStyle]="{ justifyContent: 'center' }" field="hsCodeCategoryName" title="Name *" [width]="100">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div *ngIf="dataItem.Isedit">
              <input type="text" class="form-control" maxlength="100" [(ngModel)]="dataItem.hsCodeCategoryName" />
            </div>
            <div *ngIf="!dataItem.Isedit">
              {{ dataItem.hsCodeCategoryName }}
            </div>
            <div class="text-danger" *ngIf="ValidateField(dataItem.hsCodeCategoryName)">
              <span>Name is required*</span>
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [style]="{ 'text-align': 'left', padding: '5px' }"
        [headerStyle]="{ justifyContent: 'center' }" field="hsCodeCategoryCode" title="Code *" [width]="80">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
          <div *ngIf="dataItem.Isedit">
            <input type="" class="form-control" maxlength="10" [(ngModel)]="dataItem.hsCodeCategoryCode" />
          </div>
          <div *ngIf="!dataItem.Isedit">
            {{ dataItem.hsCodeCategoryCode }}
          </div>
          <div class="text-danger" *ngIf="ValidateField(dataItem.hsCodeCategoryCode)">
            <span>Code is required*</span>
          </div>
        </ng-template>
      </kendo-grid-column>
        <kendo-grid-column [width]="300" [style]="{'text-align': 'left','padding': '5px' }"
          [headerStyle]="{'justifyContent': 'center'}" field="description" title="Description" [width]="150">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div *ngIf="dataItem.Isedit" style=" max-height: 85px;">
              <mat-form-field style="width: 100%;">
                <mat-label>Description</mat-label>
                <textarea matInput cdkTextareaAutosize class="custom-textarea" #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2" maxlength="500" [value]="dataItem.description"
                  (input)="onDescriptionInput($event, dataItem)"></textarea>
              </mat-form-field>
            </div>
            <div *ngIf="!dataItem.Isedit" style="overflow:auto; max-height: 50px;"
              (dblclick)="openDescriptionDialog(dataItem.description)">
              {{dataItem.description}}
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [style]="{ 'text-align': 'center' }" [headerStyle]="{ justifyContent: 'center' }"
          field="livestatus" filter="boolean" title="Active" [width]="70">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="dataItem.Isedit">
              <mat-checkbox class="example-margin" [(ngModel)]="dataItem.livestatus"
                (change)="handleChange($event, dataItem)"></mat-checkbox>
            </div>
            <div *ngIf="!dataItem.Isedit">
              <mat-checkbox class="example-margin" [disabled]="true" [(ngModel)]="dataItem.livestatus"></mat-checkbox>
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [style]="{ 'text-align': 'center' }" [headerStyle]="{ justifyContent: 'center' }"
          title="Action" [width]="80" [sticky]="true">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div *ngIf="!dataItem.Isedit">
              <a type="submit" (click)="Edit(dataItem)" *ngIf="pagePrivilege.includes('edit')"><i
                  class="fas fa-square-pen"></i></a>&nbsp;
              <a type="submit" *ngIf="pagePrivilege.includes('delete')" (click)="Delete(dataItem.hsCodeCategoryId)"><i
                  class="fas fa-trash"></i></a>
            </div>
            <div *ngIf="dataItem.Isedit">
              <a type="submit" #submitButton tabindex="0" (keydown.enter)="hndlKeyPress($event, dataItem)"
                (change)="hndlChange($event)" *ngIf="pagePrivilege.includes('create')"
                (click)="showAddRow ? Save(dataItem) : Update(dataItem)">
                <ng-container *ngIf="showAddRow; else editIcon">
                  <i class="fas fa-sd-card"></i>
                </ng-container>
                <ng-template #editIcon>
                  <i class="fas fa-sd-card"></i> </ng-template></a>&nbsp;
              <a type="submit" #cancelButton tabindex="0" (keydown.enter)="handleKeyPress($event, dataItem)"
                (click)="oncancel(dataItem)"><i class="fas fa-xmark"></i></a>
            </div>
          </ng-template>
          <!-- <ng-template kendoGridCellTemplate let-dataItem="dataItem">
  <a type="submit" routerLink="/ums/authmat/{{dataItem.authorizationMatrixID}}"><i class="fas fa-eye"></i></a>&nbsp; -->
          <!-- <a type="submit" routerLink="/ums/department/edit/{{dataItem.departmentId}}"><i class="fas fa-square-pen"></i></a>&nbsp;
  <a type="submit" (click)="onDelete(dataItem)"><i class="fas fa-trash"></i></a>&nbsp;
  <a type="submit" 
              ><i class="fas fa-eye"></i></a
            >&nbsp;
  
  </ng-template> -->
        </kendo-grid-column>
        <ng-template kendoPagerTemplate>
          <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
          <kendo-pager-numeric-buttons [buttonCount]="buttonCount"></kendo-pager-numeric-buttons>
          <kendo-pager-next-buttons></kendo-pager-next-buttons>

          <kendo-pager-page-sizes class="Page-Short" [pageSizes]="sizes"></kendo-pager-page-sizes>
          <kendo-pager-info></kendo-pager-info>
        </ng-template>
      </kendo-grid>
    </section>
  </div>
</div>