<div class="mainDiv">
    <div class="cardStyle px-3 py-3 mx-3 my-3">
    
        
        <img src="../../../assets/image/logo1.png" id="signupLogo"/>
        
        <h2 class="formTitle">
          Change password here
        </h2>
        <form [formGroup]="changepassword">
        <div class="inputDiv">
            <mat-form-field>
                <input matInput placeholder="Old Password" maxlength="8" [type]="hide ? 'password' : 'text'" formControlName="existpassword" required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

                <mat-error
            *ngIf="
            changepassword.controls['existpassword'].dirty &&
            changepassword.hasError('required', 'existpassword')
            "
            class="text-danger"
            >Old password is required*</mat-error
          >
            </mat-form-field>
            <div>
              <app-streangthcheck
              barLabel="Password Strength: "
              [passwordToVerify]="changepassword.value.existpassword"
              (passwordStrength)="passwordValid($event)"
            ></app-streangthcheck>
            </div>
          </div>
        
      <div class="inputDiv">
        <mat-form-field>
            <input matInput placeholder="New Password" 
           maxlength="8" minlength="8" [type]="hidepassword ? 'password' : 'text'" formControlName="password" required>
            <mat-icon matSuffix (click)="hidepassword = !hidepassword">{{hidepassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error
            *ngIf="
            changepassword.controls['password'].dirty &&
            changepassword.hasError('required', 'password')
            "
            class="text-danger"
            >New password is required*</mat-error
          >
          <mat-error *ngIf="changepassword.get('password')?.hasError('minlength')" class="text-danger">
            Password should have minimum 8 characters with 1 Uppercase,1 Lowercase,1 numeric & 1 symbols
          </mat-error>
        </mat-form-field>
        <div>
          <app-streangthcheck 
          barLabel="Password Strength: "
          [passwordToVerify]="changepassword.value.password"
          (passwordStrength)="passwordValid($event)"
        ></app-streangthcheck>
        </div>
        <mat-error
        *ngIf="changepassword.errors?.['existpasswordMatch'] && changepassword.dirty && changepassword.touched"
        class="text-danger"
        >New Password should not be same as Old password*</mat-error
      >

      </div>
        
      <div class="inputDiv">
        <mat-form-field>
            <input matInput placeholder="Confirm Password" minlength="8" maxlength="8" [type]="hiderepeatpassword ? 'password' : 'text'" formControlName="repeatpassword" required>
            <mat-icon matSuffix (click)="hiderepeatpassword = !hiderepeatpassword">{{hiderepeatpassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error
            *ngIf="
            changepassword.controls['repeatpassword'].dirty &&
            changepassword.hasError('required', 'repeatpassword')
            "
            class="text-danger"
            >Confirm password is required*</mat-error
          >
          <mat-error *ngIf="changepassword.get('repeatpassword')?.hasError('minlength')" class="text-danger">
            Password should have minimum 8 characters with 1 Uppercase,1 Lowercase,1 numeric & 1 symbols
          </mat-error>
          
        </mat-form-field>
        <div>
          <app-streangthcheck
          barLabel="Password Strength: "
          [passwordToVerify]="changepassword.value.repeatpassword"
          (passwordStrength)="passwordValid($event)"
        ></app-streangthcheck>
        </div>
        <mat-error *ngIf="changepassword.hasError('repeatpasswordMatch')"  class="text-danger">New password and Confirm password must match*</mat-error>
        
      </div>            
    </form>
    <div class="buttonWrapper">
        <button type="submit" (click)="Submit()" [disabled]="!passwordIsValid"   class="submitButton pure-button pure-button-primary">
          <span>Continue</span>
        </button>
      </div>
    </div>
  </div>