.header-container {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -0.9rem; /* Add spacing between header and hr */
  }
  
  .mat-header-cell {
    text-align: center;
    font-size: 18px;
    width: auto;
    white-space: nowrap;
  }
  
  .mat-cell {
    font-size: 16px;
  }
  
  
  .centered-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
  
  .center-content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .gray-icon {
    color: gray; /* You can use any gray color you prefer */
  }
  
  .blue-icon {
    color: rgb(0, 0, 255); /* You can use any gray color you prefer */
  }
  
  .golden-icon {
    color: goldenrod;
  }
  
  .mat-table {
    font-size: 16px; /* Set font size for the entire table, including headers and data cells */
  }
  
  .mat-table th.mat-header-cell {
    font-size: 14px; /* Set font size for header cells within the table */
  }
  
  .icon-checkbox-container {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
  }
  
  .icon-checkbox-wrapper {
    display: flex;
    align-items: center;
  }
  
  /* You might need to adjust the following styles according to your specific design */
  .fa-star-of-david {
    margin-right: 3px; /* Adjust spacing between the icon and checkbox */
  }
  
  .table-container {
    overflow-y: auto;
    overflow-x: auto;
    white-space: nowrap; /* Prevent text from wrapping */
    max-width: 100%; /* Set a maximum width to allow horizontal scrolling */
    max-height: 350px;
    /* max-height: 84%; */
    border-bottom: 1px solid #00447c; /* For the last row border */
  }
  
  .custom-form-field {
    width: 250px;
  }
  
  .mdc-icon-button {
    transform: scale(1.2);
  }
  
  .form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .inputs-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
  }
  
  .inputs-wrapper div {
    width: fit-content;
    margin-right: 1rem;
  }
  
  .info-div {
    padding: 1rem;
    text-align: center;
    background: whitesmoke;
    margin: 5px;
    border-radius: 5px;
    margin-top: 1rem;
  }
  
  .danger {
    color: red;
  }
  .text-end{
    padding-top: 40px;
  }
  
  .labelcolorGray {
    color: #676a6d;
  }