<div class="mainDiv">
    <div class="cardStyle">
    
        
        <img src="../../../assets/image/logo1.png" id="signupLogo"/>
        
        <h2 class="formTitle">
          Enter userId here
        </h2>
        <form [formGroup]="Forgetpassword">
        <div class="inputDiv">
            <mat-form-field>
                <input matInput formControlName="userId" placeholder="UserId" 
                  required>
                 <mat-error
            *ngIf="
            Forgetpassword.controls['userId'].dirty &&
            Forgetpassword.hasError('required', 'userId')
            "
            class="text-danger"
            >userId is required*</mat-error
          > 
            </mat-form-field>
          </div>         
    </form>
    <div class="buttonWrapper">
        <button type="submit" (click)="Submit()"  class="submitButton pure-button pure-button-primary">
          <span>Get Otp</span>
        </button>
      </div>
    </div>
  </div>