<div class="table-list-display">
    <div class="component-list">
      <div class="d-flex justify-content-between flex-wrap">
        <h3 class="box-title">
          <img src="./assets/images/billing-storage.png" alt="Branch Details" />
          <span>Sales Lifecycle</span>
        </h3>
      </div>
  
    
  
  
      <hr class="mt-0 mb-4" />
  
      <section class="custom-table-wrapper">
        <kendo-grid [kendoGridBinding]="salesfunnel" [filterable]="true" [resizable]="true" [height]="560" [pageSize]="20"
          [sortable]="true" [pageable]="true" [selectable]="{ enabled: true }">
          <kendo-grid-column  [style]="{ 'text-align': 'left', padding: '5px' }"
          [headerStyle]="{ justifyContent: 'center' }" field="type" title="Type" [width]="95">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            {{ dataItem.type }}
          </ng-template>
        </kendo-grid-column>     
          <kendo-grid-column  [style]="{ 'text-align': 'left', padding: '5px' }"
            [headerStyle]="{ justifyContent: 'center' }" field="number" title="Number" [width]="85">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
              {{ dataItem.number }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column  [style]="{ 'text-align': 'left', padding: '5px' }"
            [headerStyle]="{ justifyContent: 'center' }" field="date" title="Date" [width]="85">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
              {{ dataItem.date | date: 'dd/MMM/yyyy HH:mm:ss' }}
            </ng-template>
          </kendo-grid-column>
        </kendo-grid>
      </section>
      <div class="text-end my-2">
        <button class="btn btn-secondary" type="submit" (click)="Closemodal()">
            Close
         </button> &nbsp;
      </div>
    </div>
  </div>