.simple_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


/* line-chart.component.css */
canvas {
  width: 100% !important;
  height: 100% !important;
}
.chartOuter {
  /* width: 400px; */
  height: 410px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 3px;
  /* background: radial-gradient(#bfbfbf, transparent); */
}
.chartOuter1 {
  height: 410px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  /* text-align: center; */
  padding: 3px;
}

