<div class="mainDiv">
    <div class="cardStyle">
    
        
        <img src="../../../assets/image/logo1.png" id="signupLogo"/>
        
        <h2 class="formTitle">
          Change password here
        </h2>
        <form [formGroup]="forgetpasswordchange">
       
      <div class="inputDiv">
        <mat-form-field>
            <input matInput placeholder="New Password" 
           maxlength="8" [type]="hidepassword ? 'password' : 'text'" formControlName="password" required>
            <mat-icon matSuffix (click)="hidepassword = !hidepassword">{{hidepassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error
            *ngIf="
            forgetpasswordchange.controls['password'].dirty &&
            forgetpasswordchange.hasError('required', 'password')
            "
            class="text-danger"
            >New password is required*</mat-error
          >
          <mat-error *ngIf="forgetpasswordchange.get('password')?.hasError('minlength')" class="text-danger">
            Password should have minimum 8 characters with 1 Uppercase,1 Lowercase,1 numeric & 1 symbols
          </mat-error>
        </mat-form-field>
        <app-streangthcheck
        barLabel="Password Strength: "
        [passwordToVerify]="forgetpasswordchange.value.password"
        (passwordStrength)="passwordValid($event)"
      ></app-streangthcheck>
      </div>
        
      <div class="inputDiv">
        <mat-form-field>
            <input matInput placeholder="Confirm Password" maxlength="8" [type]="hiderepeatpassword ? 'password' : 'text'" formControlName="repeatpassword" required>
            <mat-icon matSuffix (click)="hiderepeatpassword = !hiderepeatpassword">{{hiderepeatpassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error
            *ngIf="
            forgetpasswordchange.controls['repeatpassword'].dirty &&
            forgetpasswordchange.hasError('required', 'repeatpassword')
            "
            class="text-danger"
            >Confirm password is required*</mat-error
          >
          <mat-error *ngIf="forgetpasswordchange.get('repeatpassword')?.hasError('minlength')" class="text-danger">
            Password should have minimum 8 characters with 1 Uppercase,1 Lowercase,1 numeric & 1 symbols
          </mat-error>
        </mat-form-field>
        <app-streangthcheck
        barLabel="Password Strength: "
        [passwordToVerify]="forgetpasswordchange.value.repeatpassword"
        (passwordStrength)="passwordValid($event)"
      ></app-streangthcheck>
        <mat-error *ngIf="forgetpasswordchange.hasError('repeatpasswordMatch')"  class="text-danger">New password and Confirm password must match*</mat-error>
      </div>            
    </form>
    <div class="buttonWrapper">
        <button type="submit" (click)="Submit()"  [disabled]="!passwordIsValid" class="submitButton pure-button pure-button-primary">
          <span>Continue</span>
        </button>
      </div>
    </div>
  </div>
