<div class="table-list-display">
  <div class="component-list">
    <h3 class="box-title" *ngIf="cities.length > 0">
      <img src="./assets/images/billing-storage.png" alt="City Details" />
      <span>City</span>
    </h3>
    <div class="text-end" *ngIf="pagePrivilege.includes('create')">
      <button class="btn btn-primary Addbtn" type="button" (click)="Add()">
        <i class="fa fa-plus-circle me-2"></i>Add
      </button>
    </div>
    <hr class="mt-0 mb-4" />
    <section class="custom-table-wrapper">
      <kendo-grid [kendoGridBinding]="cities" [filterable]="true" [resizable]="true" [height]="500"
        [pageSize]="pageSize" [sortable]="true" [pageable]="true" [selectable]="{ enabled: true }" (pageChange)="pageChange($event)"
        [skip]="skip">

        <kendo-grid-column [style]="{ 'text-align': 'left', padding: '5px' }"
          [headerStyle]="{ justifyContent: 'center' }" field="cityName" title="Name*">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div *ngIf="dataItem.Isedit">
              <input type="text" class="form-control" maxlength="80" [(ngModel)]="dataItem.cityName" />
            </div>
            <div *ngIf="!dataItem.Isedit">
              {{ dataItem.cityName }}
            </div>
            <div class="text-danger" *ngIf="ValidateField(dataItem.cityName)">
              <span>City name is required*</span>
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [style]="{ 'text-align': 'left', padding: '5px' }"
          [headerStyle]="{ justifyContent: 'center' }" field="cityCode" title="Code*">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div *ngIf="dataItem.Isedit">
              <input type="text" class="form-control" maxlength="20" [(ngModel)]="dataItem.cityCode" />
            </div>
            <div *ngIf="!dataItem.Isedit">
              {{ dataItem.cityCode }}
            </div>
            <div class="text-danger" *ngIf="ValidateField(dataItem.cityCode)">
              <span>City code is required*</span>
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [style]="{ 'text-align': 'left', padding: '5px',overflow: 'visible' }"
          [headerStyle]="{ justifyContent: 'center' }" field="countryName" title="Country*">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div *ngIf="dataItem.Isedit">
              <div>
                <ng-autocomplete [data]="countries" [searchKeyword]="keyword" placeholder="Select country"
                  (selected)="selectEvent($event)" [itemTemplate]="itemTemplate" [(ngModel)]="dataItem.countryName"
                  [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.countryName"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
                <div class="text-danger" *ngIf="ValidateField(dataItem.countryName)">
                  <span>Country name is required*</span>
                </div>
              </div>
            </div>
            <div *ngIf="!dataItem.Isedit">
              {{ dataItem.countryName }}
            </div>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column [style]="{ 'text-align': 'left', padding: '5px',overflow: 'visible' }"
          [headerStyle]="{ justifyContent: 'center' }" field="stateName" title="State*">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div *ngIf="dataItem.Isedit">
              <div class="ng-autocomplete">
                <ng-autocomplete [data]="states" [searchKeyword]="keywordstates" placeholder="Select state"
                  (selected)="selectstatesevent($event)" [itemTemplate]="itemTemplate" [(ngModel)]="dataItem.stateName"
                  [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.stateName"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
                <div class="text-danger" *ngIf="ValidateField(dataItem.stateName)">
                  <span>State name is required*</span>
                </div>
              </div>
            </div>
            <div *ngIf="!dataItem.Isedit">
              {{ dataItem.stateName }}
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
        [style]="{ 'text-align': 'left', padding: '5px' }"
        [headerStyle]="{ justifyContent: 'center' }"
        field="saprefno"
        title="SAP Ref No"
      >
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
          <div *ngIf="dataItem.Isedit">
            <input
              type="text"
              class="form-control"
              maxlength="20"
              [(ngModel)]="dataItem.saprefno"
            />
          </div>
          <div *ngIf="!dataItem.Isedit">
            {{ dataItem.saprefno }}
          </div>
          <!-- <div
            class="text-danger"
            *ngIf="ValidateField(dataItem.saprefno)"
          >
            <span>Country name is required*</span>
          </div> -->
        </ng-template>
      </kendo-grid-column>
        <kendo-grid-column [style]="{ 'text-align': 'center' }" [headerStyle]="{ justifyContent: 'center' }"
          field="livestatus" filter="boolean" title="Active">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="dataItem.Isedit">
              <mat-checkbox class="example-margin" [(ngModel)]="dataItem.livestatus"
                (change)="handleChange($event, dataItem)"></mat-checkbox>
            </div>
            <div *ngIf="!dataItem.Isedit">
              <mat-checkbox class="example-margin" [disabled]="true" [(ngModel)]="dataItem.livestatus"></mat-checkbox>
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [style]="{ 'text-align': 'center' }" [headerStyle]="{ justifyContent: 'center' }"
          title="Action">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div *ngIf="!dataItem.Isedit">
              <a type="submit" *ngIf="pagePrivilege.includes('edit')" (click)="Edit(dataItem)"><i
                  class="fas fa-square-pen"></i></a>&nbsp;
              <a *ngIf="pagePrivilege.includes('delete')" type="submit" (click)="Delete(dataItem.cityId)"><i
                  class="fas fa-trash"></i></a>
            </div>
            <div *ngIf="dataItem.Isedit">
              <a type="submit" #submitButton tabindex="0" (keydown.enter)="hndlKeyPress($event, dataItem)"
                (change)="hndlChange($event)" (click)="showAddRow ? Save(dataItem) : Update(dataItem)">
                <ng-container *ngIf="showAddRow; else editIcon">
                  <i class="fas fa-sd-card"></i>
                </ng-container>
                <ng-template #editIcon>
                  <i class="fas fa-sd-card"></i>
                </ng-template> </a>&nbsp;
              <a type="submit" #cancelButton tabindex="0" (keydown.enter)="handleKeyPress($event, dataItem)"
                (click)="oncancel(dataItem)"><i class="fas fa-xmark"></i></a>
            </div>
          </ng-template>
        </kendo-grid-column>
        <ng-template kendoPagerTemplate>
          <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
          <kendo-pager-numeric-buttons [buttonCount]="buttonCount"></kendo-pager-numeric-buttons>
          <kendo-pager-next-buttons></kendo-pager-next-buttons>

          <kendo-pager-page-sizes class="Page-Short" [pageSizes]="sizes"></kendo-pager-page-sizes>
          <kendo-pager-info></kendo-pager-info>
        </ng-template>
      </kendo-grid>
    </section>
  </div>
</div>