<div class="table-list-display">
  <div class="component-creation">
    <h3 class="box-title" *ngIf="designations.length > 0">
      <img src="./assets/images/billing-storage.png" alt="Designation Details" />
      <span>Designation</span>
    </h3>
    <div class="text-end">
      <button class="btn btn-primary Addbtn" type="button" (click)="Add()" *ngIf="pagePrivilege.includes('create')">
        <i class="fa fa-plus-circle me-2"></i>Add
      </button>
    </div>
    <hr class="mt-0 mb-4" />
    <section class="custom-table-wrapper">
      <kendo-grid [kendoGridBinding]="designations" [filterable]="true" [resizable]="true" [height]="500"
        [pageSize]="pageSize" [sortable]="true" [pageable]="true" [selectable]="{ enabled: true }" (pageChange)="pageChange($event)"
        [skip]="skip">
       
        <kendo-grid-column [style]="{ 'text-align': 'left', padding: '5px' }"
          [headerStyle]="{ justifyContent: 'center' }" field="designationName" title="Name*">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div *ngIf="dataItem.Isedit">
              <input type="text" class="form-control" maxlength="80" [(ngModel)]="dataItem.designationName" />
            </div>
            <div *ngIf="!dataItem.Isedit">
              {{ dataItem.designationName }}
            </div>
            <div class="text-danger" *ngIf="ValidateField(dataItem.designationName)">
              <span>Designation name is required*</span>
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [style]="{ 'text-align': 'left', padding: '5px' }"
        [headerStyle]="{ justifyContent: 'center' }" field="designationCode" title="Code*">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
          <div *ngIf="dataItem.Isedit">
            <input type="text" class="form-control" maxlength="20" [(ngModel)]="dataItem.designationCode" />
          </div>
          <div *ngIf="!dataItem.Isedit">
            {{ dataItem.designationCode }}
          </div>
          <div class="text-danger" *ngIf="ValidateField(dataItem.designationCode)">
            <span>Designation code is required*</span>
          </div>
        </ng-template>
      </kendo-grid-column>
        <kendo-grid-column [style]="{ 'text-align': 'center' }" [headerStyle]="{ justifyContent: 'center' }"
          field="livestatus" filter="boolean" title="Active">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="dataItem.Isedit">
              <mat-checkbox class="example-margin" [(ngModel)]="dataItem.livestatus"
                (change)="handleChange($event, dataItem)"></mat-checkbox>
            </div>
            <div *ngIf="!dataItem.Isedit">
              <mat-checkbox class="example-margin" [disabled]="true" [(ngModel)]="dataItem.livestatus"></mat-checkbox>
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [style]="{ 'text-align': 'center' }" [headerStyle]="{ justifyContent: 'center' }"
          title="Action">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div *ngIf="!dataItem.Isedit">
              <a type="submit" (click)="Edit(dataItem)" *ngIf="pagePrivilege.includes('edit')"><i
                  class="fas fa-square-pen"></i></a>&nbsp;
              <a type="submit" (click)="Delete(dataItem.designationId)" *ngIf="pagePrivilege.includes('delete')"><i
                  class="fas fa-trash"></i></a>
            </div>
            <div *ngIf="dataItem.Isedit">
              <a #submitButton tabindex="0" (keydown.enter)="hndlKeyPress($event, dataItem)"
                (change)="hndlChange($event)" type="submit" (click)="showAddRow ? Save(dataItem) : Update(dataItem)">
                <ng-container *ngIf="showAddRow; else editIcon">
                  <i class="fas fa-sd-card"></i>
                </ng-container>
                <ng-template #editIcon>
                  <i class="fas fa-sd-card"></i>
                </ng-template> </a>&nbsp;
              <a type="submit" #cancelButton tabindex="0" (keydown.enter)="handleKeyPress($event, dataItem)"
                (click)="oncancel(dataItem)"><i class="fas fa-xmark"></i></a>
            </div>
          </ng-template>
          <!-- <ng-template kendoGridCellTemplate let-dataItem="dataItem">
 <a type="submit" routerLink="/ums/authmat/{{dataItem.authorizationMatrixID}}"><i class="fas fa-eye"></i></a>&nbsp; -->
          <!-- <a type="submit" routerLink="/ums/designation/edit/{{dataItem.designationId}}"><i class="fas fa-square-pen"></i></a>&nbsp;
<a type="submit" (click)="onDelete(dataItem)"><i class="fas fa-trash"></i></a>&nbsp;
<a type="submit" 
            ><i class="fas fa-eye"></i></a
          >&nbsp;

</ng-template> -->
        </kendo-grid-column>
        <ng-template kendoPagerTemplate>
          <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
          <kendo-pager-numeric-buttons [buttonCount]="buttonCount"></kendo-pager-numeric-buttons>
          <kendo-pager-next-buttons></kendo-pager-next-buttons>

          <kendo-pager-page-sizes class="Page-Short" [pageSizes]="sizes"></kendo-pager-page-sizes>
          <kendo-pager-info></kendo-pager-info>
        </ng-template>
      </kendo-grid>
    </section>
  </div>
</div>