/* Tab design */
::ng-deep .mat-mdc-tab .mdc-tab__text-label {
    color: rgb(255 255 255) !important ;
    display: inline-flex;
    align-items: center;
  }
  ::ng-deep .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
    flex-grow: 1;
    border-radius: 50px 0 50px 0!important;
    background: #6f7f8a;
  }
  
  ::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: #f7f8ff !important;
  }
  ::ng-deep .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab.mdc-tab--active {
    flex-grow: 1;
    border-radius: 50px 0 50px 0 !important;
    background: #004ebd;
    border-bottom-width:2px !important;
    border-width: transparent !important;
  
  }
  ::ng-deep .mat-mdc-focus-indicator {
    position: static !important;
  }
  .mat-tab-label.mat-tab-label-active .mat-ripple-element::after {
    background-color: transparent !important;
  }
  
  .disable-content{
    pointer-events: none;
    opacity: 0.5;
  }

  .k-grid tbody td {
    text-overflow: clip; /* prevent the ellipsis behavior */
    overflow-wrap: break-word;
  }