<div class="table-list-display">
    <div class="component-creation">
        <div class="header-container">
            <h3 class="box-title">
                <img src="./assets/images/billing-storage.png" alt="Description" />
                <span>Description</span>
            </h3>
            <hr class="mt-0 mb-4" />
            <div style="max-height: 500px; overflow-y: auto;">
                <p>{{ description }}</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="button-container">
            <button class="btn btn-primary returntolistbtn" type="submit" (click)="Close()">
                Cancel
            </button>
    </div>
    </footer>
</div>