<div class="table-list-display">
  <div class="component-list">
    <div class="header-container">
      <h3 class="box-title">
        <img src="./assets/images/billing-storage.png" alt="Potential Customer" />
        <span>Potential Customer</span>
      </h3>
      <div class="text-end">
        <button class="btn btn-primary Addbtn" *ngIf="pagePrivilege.includes('create')" type="button" (click)="add()">
          <i class="fa fa-plus-circle me-2"></i>Add
        </button>
      </div>
      <hr />
    </div>

    <section class="custom-table-wrapper">
      <kendo-grid [kendoGridBinding]="potentialCustomer" [filterable]="true" [resizable]="true" [height]="500"
        [pageSize]="10" [sortable]="true" [pageable]="true" [selectable]="{ enabled: true }">
        <kendo-grid-column [style]="{
              'text-align': 'left',
              padding: '5px',
              
            }" [headerStyle]="{
              justifyContent: 'center',
              
            }" field="potentialCustomerCode" title="PC Id" [width]="80">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            {{ dataItem.potentialCustomerCode }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [style]="{ 'text-align': 'left', padding: '5px' }" [headerStyle]="{
              justifyContent: 'center',
              
            }" field="customerName" title="Name" [width]="105">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            {{ dataItem.customerName }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [style]="{ 'text-align': 'left', padding: '5px' }" [headerStyle]="{
            justifyContent: 'center',
            
          }" field="countryName" title="Country" [width]="100">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            {{ dataItem.countryName }}
          </ng-template>
        </kendo-grid-column>
        <!-- <kendo-grid-column [style]="{ 'text-align': 'left', padding: '5px' }" [headerStyle]="{
            justifyContent: 'center',
            
          }" field="customerPhone" title="Phone" [width]="90">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            {{ dataItem.customerPhone }}
          </ng-template>
        </kendo-grid-column>           
        <kendo-grid-column [style]="{ 'text-align': 'left', padding: '5px' }" [headerStyle]="{
            justifyContent: 'center',
            
          }" field="customerEmail" title="Email" [width]="90">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            {{ dataItem.customerEmail }}
          </ng-template>
        </kendo-grid-column>           -->
        <kendo-grid-column [style]="{ 'text-align': 'left', padding: '5px' }" [headerStyle]="{
            justifyContent: 'center',
            
          }" field="salesOwnerName" title="Sales Owner" [width]="110">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            {{ dataItem.salesOwnerName }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [style]="{ 'text-align': 'left', padding: '5px' }" [headerStyle]="{
        justifyContent: 'center',
        
      }" field="salesExecutiveName" title="Sales Executive" [width]="115">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            {{ dataItem.salesExecutiveName }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [style]="{ 'text-align': 'left', padding: '5px' }" [headerStyle]="{
      justifyContent: 'center',
      
    }" field="pcStatus" title="Status" [width]="90">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            {{ dataItem.pcStatus }}
          </ng-template>
        </kendo-grid-column>
        <!-- <kendo-grid-column [style]="{ 'text-align': 'center' }" [headerStyle]="{
              justifyContent: 'center',
              
            }" field="liveStatus" filter="boolean" title="Active">
            <ng-template kendoGridCellTemplate let-dataItem>
              <mat-checkbox class="example-margin" [disabled]="true" [(ngModel)]="dataItem.liveStatus"></mat-checkbox>
            </ng-template>
          </kendo-grid-column> -->
        <kendo-grid-column [style]="{ 'text-align': 'center' }" [headerStyle]="{
              justifyContent: 'center',
                
            }" title="Action" [width]="80" [sticky]="true">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">

            <!-- <a type="button" (click)="onMail(dataItem)"><i class="fa-solid fa-envelope fa-lg"></i></a>&nbsp; -->
            <a type="button" *ngIf="pagePrivilege.includes('view')" (click)="onview(dataItem)"><i
                class="fas fa-eye"></i></a>&nbsp;
            <a type="button" *ngIf="pagePrivilege.includes('edit')" (click)="onEdit(dataItem)"><i
                class="fas fa-square-pen"></i></a>&nbsp;
            <a type="button" *ngIf="pagePrivilege.includes('delete')" (click)="onDelete(dataItem)"><i
                class="fas fa-trash"></i></a>&nbsp;

          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [style]="{ 'text-align': 'center' }" [headerStyle]="{
            justifyContent: 'center',
          }" title="ACT" [width]="80" [sticky]="true">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">

            <a type="button" matTooltip="Sales Opportunity" matTooltipPosition="above" (click)="salesOpp(dataItem)"><i
                class="fa-solid fa-dollar-sign fa-lg"></i></a>&nbsp;
            <a type="button" matTooltip="PC to Customer" matTooltipPosition="above" (click)="pcToCustomer(dataItem)"><i
                class="fa-solid fa-people-arrows fa-lg"></i></a>&nbsp;
            <a type="submit" matTooltip="Follow Up History" matTooltipPosition="above"
              (click)="OpenHistory(1,dataItem.potentialCustomerId,dataItem.pcStatusId)"><i
                class="fas fa-clock-rotate-left"></i></a>&nbsp;

          </ng-template>
        </kendo-grid-column>
        <!-- <kendo-grid-column [style]="{ 'text-align': 'center' }" [headerStyle]="{
            justifyContent: 'center',
          }" title="Follow Up">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <a type="button" class="btn btn-primary btn-sml" routerLink="/crm/transaction/followup/1/{{dataItem.potentialCustomerId}}">Follow Up</a>&nbsp;
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [style]="{ 'text-align': 'center' }" [headerStyle]="{
          justifyContent: 'center',
        }" title="Sales Opportunity">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
          <a type="button" class="btn btn-primary btn-sml" (click)="salesOpp(dataItem)">Sales Opportunity</a>&nbsp;
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column [style]="{ 'text-align': 'center' }" [headerStyle]="{
        justifyContent: 'center',
      }" title="PC to Customer">
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        <a type="button" class="btn btn-primary btn-sml" (click)="pcToCustomer(dataItem)">PC to Customer</a>&nbsp;
      </ng-template>
    </kendo-grid-column> -->
        <ng-template kendoPagerTemplate>
          <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
          <kendo-pager-numeric-buttons [buttonCount]="buttonCount"></kendo-pager-numeric-buttons>
          <kendo-pager-next-buttons></kendo-pager-next-buttons>

          <kendo-pager-page-sizes class="Page-Short" [pageSizes]="sizes"></kendo-pager-page-sizes>
          <kendo-pager-info></kendo-pager-info>
        </ng-template>
      </kendo-grid>
    </section>
  </div>
</div>