<div class="table-list-display">
  <div class="component-creation">
    <div class="header-container">
      <h3 class="box-title">
        <img src="./assets/images/billing-storage.png" alt="Employee" />
        <span>Follow Up</span>
      </h3>

      <button class="btn btn-primary returntolistbtn" type="button" [routerLink]="Listrouter">
        <i class="fa fa-list me-2"></i> Return to List
      </button>
    </div>
    <hr class="mt-0 mb-4" />
    <mat-card>
      <mat-card-title class="title">
        {{titile}}
      </mat-card-title>
      <br />
      <mat-card-content>
        <form [formGroup]="FollowUp">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field>
                <mat-label class="labelcolorGray">Follow Up Code</mat-label>
                <input matInput type="text" [readonly]="true" formControlName="followUpCode"
                  placeholder="FollowUp code" />
              </mat-form-field>

            </div>
            <div class="col-md-4">
              <!-- <mat-form-field appearance="fill">
                <mat-label class="labelcolor">Follow Up  Date & Time</mat-label>
                <input matInput [matDatepicker]="FollowUpDatePicker" [readonly]="disablefields"
                  formControlName="followUpDate" [matDatepickerFilter]="dateFilter">
                <mat-datepicker-toggle matSuffix [for]="FollowUpDatePicker"
                  [disabled]="disablefields"></mat-datepicker-toggle>
                <mat-datepicker #FollowUpDatePicker></mat-datepicker>
                <input type="time" >
                <mat-error *ngIf="
                        FollowUp.controls['followUpDate'].touched &&
                        FollowUp.hasError('required', 'followUpDate')
                        " class="text-danger">Follow Up  date is required*</mat-error>
              </mat-form-field> -->
              

              <mat-form-field>
                <mat-label class="labelcolor">Follow up Date & Time</mat-label>
                <input matInput  formControlName="followUpDate" [ngxMatDatetimePicker]="FollowUpDatePicker" [max]="maxDate" [disabled]="disabled"
                [disabled]="disablefields">
                <ngx-mat-datepicker-toggle matSuffix [for]="FollowUpDatePicker"></ngx-mat-datepicker-toggle>
                <ngx-mat-datetime-picker #FollowUpDatePicker [showSpinners]="showSpinners" 
                [defaultTime]="defaultTime"
                [stepHour]="stepHour" [stepMinute]="stepMinute" 
                [touchUi]="touchUi"
                [color]="color"
                [inputFormat]="'DD/MMM/YYYY HH:mm'"
                   >
                  <ngx-mat-datepicker-actions>
                    <button mat-button class="btn btn-secondary me-2" ngxMatDatepickerCancel>Cancel</button>
                    <button class="btn btn-primary" ngxMatDatepickerApply>Apply</button>
                  </ngx-mat-datepicker-actions>
                </ngx-mat-datetime-picker>

                <mat-error *ngIf="
                FollowUp.controls['followUpDate'].touched &&
                FollowUp.hasError('required', 'followUpDate')
                " class="text-danger">Follow Up date is required*</mat-error>
              </mat-form-field>

            </div>
            <div class="col-md-4">

              <mat-form-field>
                <mat-label class="labelcolor">Base Document</mat-label>
                <input matInput [readonly]="disablefields" formControlName="baseDocNameId"
                  [matAutocomplete]="baseDocName"  (keydown)="FBEmpty()"/>
                  <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                <mat-autocomplete #baseDocName="matAutocomplete" (optionSelected)="optionSelectedBaseDoc($event)">
                  <mat-option *ngFor="let Bdoc of filteredBaseDoc | async" [value]="Bdoc.followupBaseDoc">
                    {{Bdoc.followupBaseDoc }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="
                        FollowUp.controls['baseDocNameId'].touched &&
                        FollowUp.hasError('required', 'baseDocNameId')
                        " class="text-danger">Base Document is required*</mat-error>
              </mat-form-field>

            </div>
            <div class="col-md-4">

              <mat-form-field>
                <mat-label class="labelcolor">Base Doc Id</mat-label>
                <input matInput [readonly]="disablefields" formControlName="baseDocId" [matAutocomplete]="baseDocId" />
                <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                <mat-autocomplete #baseDocId="matAutocomplete" (optionSelected)="optionSelectedBaseDocId($event)">
                  <mat-option *ngFor="let Bdoc of filteredBaseDocId | async" [value]="Bdoc.code">
                    {{Bdoc.code}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="
                    FollowUp.controls['baseDocId'].touched &&
                    FollowUp.hasError('required', 'baseDocId')
                    " class="text-danger">Base doc id is required*</mat-error>
              </mat-form-field>

            </div>
            <div class="col-md-4">
              <mat-form-field>
                <mat-label class="labelcolor">Follow Up  By</mat-label>
                <input matInput [readonly]="disablefields" formControlName="followUpUserId"
                  [matAutocomplete]="FollowUpUserId" />
                  <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                <mat-autocomplete #FollowUpUserId="matAutocomplete"
                  (optionSelected)="optionSelectedFollowUpUserId($event)">
                  <mat-option *ngFor="let FoU of filteredFollowUpUserId | async" [value]="FoU.employeeName">
                    {{FoU.employeeName}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="
                      FollowUp.controls['followUpUserId'].touched &&
                      FollowUp.hasError('required', 'followUpUserId')
                      " class="text-danger">Follow Up user is required*</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <mat-label class="labelcolor">Mode Of Follow Up</mat-label>
                <input matInput [readonly]="disablefields" formControlName="followUpModeId"
                  [matAutocomplete]="followUpModeId" />
                  <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                <mat-autocomplete #followUpModeId="matAutocomplete"
                  (optionSelected)="optionSelectedfollowUpModeId($event)">
                  <mat-option *ngFor="let MFoU of filteredfollowUpModeId | async" [value]="MFoU.modeofFollowUp">
                    {{MFoU.modeofFollowUp}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="
                      FollowUp.controls['followUpModeId'].touched &&
                      FollowUp.hasError('required', 'followUpModeId')
                      " class="text-danger">Mode of follow Up is required*</mat-error>
              </mat-form-field>

            </div>
            <div class="col-md-4">
              <mat-form-field>
                <mat-label class="labelcolor">Follow Up Notes</mat-label>
                <input matInput [readonly]="disablefields" type="text" required formControlName="followUpNotes"
                  maxlength="500" placeholder="Follow Up Notes" />
                <mat-error *ngIf="
                  FollowUp.controls['followUpNotes'].touched &&
                  FollowUp.hasError('required', 'followUpNotes')
                  " class="text-danger">Follow Up notes is required*</mat-error>
              </mat-form-field>

            </div>
            <div class="col-md-4">
              <mat-form-field>
                <mat-label class="labelcolor">Follow Up  status</mat-label>
                <input matInput [readonly]="disablefields" formControlName="statusId" [matAutocomplete]="statusId" />
                <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                <mat-autocomplete #statusId="matAutocomplete" (optionSelected)="optionSelectedstatusId($event)">
                  <mat-option *ngFor="let MFoU of filteredstatusId | async" [value]="MFoU.followUpStatus">
                    {{MFoU.followUpStatus}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="
                FollowUp.controls['statusId'].touched &&
                FollowUp.hasError('required', 'statusId')
                " class="text-danger">Follow up status is required*</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4" *ngIf="SelectedstatusId !=3">
              <mat-form-field>
                <mat-label class="labelcolor">Next Follow Up Date & Time</mat-label>
                <input matInput  formControlName="nextFollowUpDate" [ngxMatDatetimePicker]="NextFollowupDatePicker"   [matDatepickerFilter]="dateFilter" placeholder="Next Follow Up date"
                [disabled]="disablefields">
                <ngx-mat-datepicker-toggle matSuffix [for]="NextFollowupDatePicker"></ngx-mat-datepicker-toggle>
                <ngx-mat-datetime-picker #NextFollowupDatePicker [showSpinners]="showSpinners" 
                [stepHour]="stepHour" [min]="dateFilter" [stepMinute]="stepMinute" 
                [touchUi]="touchUi"   [color]="color"  
                   >
                  <ngx-mat-datepicker-actions>
                    <button mat-button class="btn btn-secondary me-2" ngxMatDatepickerCancel>Cancel</button>
                    <button class="btn btn-primary" ngxMatDatepickerApply>Apply</button>
                  </ngx-mat-datepicker-actions>
                </ngx-mat-datetime-picker>
                <mat-error *ngIf="
                FollowUp.controls['nextFollowUpDate'].touched &&
                FollowUp.hasError('required', 'nextFollowUpDate')
                " class="text-danger">Next Follow Up  date is required*</mat-error>
              </mat-form-field>


            </div>
            <div class="col-md-4" *ngIf="SelectedstatusId !=3">
              <mat-form-field>
                <mat-label class="labelcolor">Next Follow Up Mode</mat-label>
                <input matInput [readonly]="disablefields" formControlName="nextFollowUpModeId"
                  [matAutocomplete]="nextFollowUpModeId" />
                  <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                <mat-autocomplete #nextFollowUpModeId="matAutocomplete"
                  (optionSelected)="optionSelectednextFollowUpModeId($event)">
                  <mat-option *ngFor="let MFoU of filterednextFollowUpModeId | async" [value]="MFoU.modeofFollowUp">
                    {{MFoU.modeofFollowUp}}
                  </mat-option>
                </mat-autocomplete>

                <mat-error *ngIf="
                FollowUp.controls['nextFollowUpModeId'].touched &&
                FollowUp.hasError('required', 'nextFollowUpModeId')
                " class="text-danger">Next Follow Up  Mode is required*</mat-error>

              </mat-form-field>

            </div>
            <div class="col-md-4" *ngIf="SelectedstatusId !=3">
              <mat-form-field>
                <mat-label class="labelcolor">Next Follow Up Notes</mat-label>
                <input matInput type="text" [readonly]="disablefields" formControlName="nextFollowUpNotes"
                  maxlength="500" placeholder="Next Follow Up Notes" />

                  <mat-error *ngIf="
                FollowUp.controls['nextFollowUpNotes'].touched &&
                FollowUp.hasError('required', 'nextFollowUpNotes')
                " class="text-danger">Next Follow Up  Notes is required*</mat-error>

              </mat-form-field>

            </div>
            <div class="col-md-4" *ngIf="SelectedstatusId != 3">
              <mat-form-field>
                <mat-label class="labelcolor">Follow Up  assigned To</mat-label>
                <input matInput [readonly]="disablefields" formControlName="followUpAssignedId"
                  [matAutocomplete]="followUpAssignedId" />
                  <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                <mat-autocomplete #followUpAssignedId="matAutocomplete"
                  (optionSelected)="optionSelectedfollowUpAssignedId($event)">
                  <mat-option *ngFor="let FoU of filteredfollowUpAssignedId | async" [value]="FoU.employeeName">
                    {{FoU.employeeName}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="
                FollowUp.controls['followUpAssignedId'].touched &&
                FollowUp.hasError('required', 'followUpAssignedId')
                " class="text-danger">Next Follow Up  assigned is required*</mat-error>
              </mat-form-field>

            </div>
            <div class="col-md-4">
              <mat-form-field>
                <mat-label class="labelcolor">Reminder</mat-label>
                <mat-select formControlName="remainder" [readonly]="disablefields"
                  (selectionChange)="optionSelectedremainder($event)" >
                  <mat-option [value]="0"  [disabled]="disablefields">Yes</mat-option>
                  <mat-option [value]="1" [disabled]="disablefields">No</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4" *ngIf="remainder">
              <!-- <mat-form-field appearance="fill">
                <mat-label class="labelcolor">Remainder Date & Time</mat-label>
                <input matInput [matDatepicker]="remainderDateDatePicker" [readonly]="disablefields"
                  formControlName="remainderDate" [matDatepickerFilter]="dateFilter">
                <mat-datepicker-toggle matSuffix [for]="remainderDateDatePicker"
                  [disabled]="disablefields"></mat-datepicker-toggle>
                <mat-datepicker #remainderDateDatePicker></mat-datepicker>
              </mat-form-field> -->

              <mat-form-field>
                <mat-label class="labelcolor">Remainder Date & Time</mat-label>
                <input matInput  formControlName="remainderDate" [ngxMatDatetimePicker]="remainderDateDatePicker" [min]="FollowUp.controls['followUpDate'].value" [max]="FollowUp.controls['nextFollowUpDate'].value" [disabled]="disabled"
                [disabled]="disablefields">
                <ngx-mat-datepicker-toggle matSuffix [for]="remainderDateDatePicker"></ngx-mat-datepicker-toggle>
                <ngx-mat-datetime-picker #remainderDateDatePicker [showSpinners]="showSpinners" 
                [stepHour]="stepHour" [stepMinute]="stepMinute"  
                [touchUi]="touchUi"  [color]="color"  
                   >
                  <ngx-mat-datepicker-actions>
                    <button mat-button class="btn btn-secondary me-2" ngxMatDatepickerCancel>Cancel</button>
                    <button class="btn btn-primary" ngxMatDatepickerApply>Apply</button>
                  </ngx-mat-datepicker-actions>
                </ngx-mat-datetime-picker>
                <mat-error *ngIf="
                FollowUp.controls['remainderDate'].touched &&
                FollowUp.hasError('required', 'remainderDate')
                " class="text-danger">Remainder date is required*</mat-error>
              </mat-form-field>


            </div>
            <div class="col-md-4">
              <mat-form-field>
                <mat-label class="labelcolor">Remarks</mat-label>
                <textarea matInput [readonly]="disablefields" type="text" formControlName="remarks" maxlength="500"
                  placeholder="Remarks"></textarea>

              </mat-form-field>

            </div>
            <div class="col-md-8">
              <mat-form-field>
                  <mat-label class="labelcolor">Tags</mat-label>
                  <textarea [readonly]="disablefields" matInput type="text" formControlName="tags"
                      placeholder="Tags"></textarea>
              </mat-form-field>
          </div>
          </div>
        </form>
      </mat-card-content>
      <!-- <div class="border border-1 rounded-4">
        <table class="table table-sm align-middle mb-0 bg-white table-bordered table-hover table-fixed">
          <thead class="bg-light">
            <tr>
              <th class="center-header">Document Name*</th>
              <th class="center-header">File</th>
              <th class="center-header">Remarks</th>
              <th class="center-header" [hidden]="disablefields">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr [formGroup]="FollowUpDoc" [hidden]="disablefields">
              <td>
                <mat-form-field>
                  <mat-label class="labelcolor">Document</mat-label>
                  <input matInput [readonly]="disablefields" formControlName="documentId"
                    [matAutocomplete]="documentId" />
                    <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                  <mat-autocomplete #documentId="matAutocomplete" (optionSelected)="optionSelecteddocumentId($event)">
                    <mat-option *ngFor="let FoU of filtereddocumentId | async" [value]="FoU.documentName">
                      {{FoU.documentName}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="
                            FollowUpDoc.controls['documentId'].touched &&
                            FollowUpDoc.hasError('required', 'documentId')
                            " class="text-danger">Document name is required*</mat-error>
                </mat-form-field>
              </td>
              <td>
                
                <input type="file" formControlName="documentName" (change)="selectFile($event)" [multiple]="true"
                  class="form-control" width="50%" />
              </td>

              <td class="center-align">
                <mat-form-field>
                  <mat-label class="labelcolor">Remarks</mat-label>
                  <input matInput [readonly]="disablefields" type="text" formControlName="remarks" maxlength="500"
                    placeholder="Remarks" />

                </mat-form-field>
              </td>
              <td class="center-align" [hidden]="disablefields">
                <a type="submit" (click)="addRow()"><i class="fas fa-sd-card"></i></a>
              </td>
            </tr>

            <tr *ngFor="let row of ImageDataArray; let i = index">

              <td>
                <span *ngIf="row.documentId">
                  {{getSelectedDoc(row.documentId)}}
                </span>
              </td>
              <td>
                <input type="text" [(ngModel)]="row.documentName" name="imagepath{{i}}" class="form-control"
                  width="50%" />
              </td>
              <td>
                {{row.remarks}}
              </td>
              <td class="center-align" [hidden]="disablefields">
                <a type="submit"><i class="fas fa-cloud-arrow-down"></i></a>&nbsp;
                <a type="submit" (click)="DeleteImage(row,i)"><i class="fas fa-trash"></i></a>&nbsp;
                <a type="submit"><i class="fas fa-eye"></i></a>
              </td>
            </tr>






          </tbody>
          <div class="align" *ngIf="ApprovalData.length === 0">
                <p>Add Approvals Here.</p>
              </div> -->
        <!-- </table>
      </div> -->

      <hr>

      <div class="table-list-display">
        <div class="component-list">
            <section class="custom-table-wrapper">
                <div class="addbutton" [hidden]="disablefields">
                    <button class="btn btn-primary Addbtn" type="button" 
                        (click)="AddDocument()"><i class="fa fa-plus-circle me-2"></i>Add</button>
                </div>
                <kendo-grid [kendoGridBinding]="Followdocument" [filterable]="true" [resizable]="true"
                    [height]="500" [pageSize]="20" [sortable]="true" [pageable]="true" [formGroup]="FollowUpDoc" (pageChange)="pageChange($event)"
                    [skip]="skip">
                    
                        <kendo-grid-column [style]="{ 'text-align': 'left', padding: '5px' }"
                        [headerStyle]="{ justifyContent: 'center' }" field="documentId" title="Document Name *"
                        media="(min-width: 450px)" [width]="100" >
                       
                        <ng-template kendoGridCellTemplate let-dataItem="dataItem" >
                            <div *ngIf="dataItem.Isedit">
                            <mat-form-field>
                                <input matInput [readonly]="disablefields || isEditDocument" formControlName="documentId"
                                  [matAutocomplete]="documentId" />
                                  <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                                <mat-autocomplete #documentId="matAutocomplete" (optionSelected)="optionSelecteddocumentId($event)">
                                  <mat-option *ngFor="let FoU of filtereddocumentId | async" [value]="FoU.documentName">
                                    {{FoU.documentName}}
                                  </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="
                                FollowUpDoc.controls['documentId'].touched &&
                                FollowUpDoc.hasError('required', 'documentId')
                                          " class="text-danger">Document name is required*</mat-error>
                              </mat-form-field>
                            </div>

                              <div *ngIf="!dataItem.Isedit">
                                {{getSelectedDoc(dataItem.documentId)}}
                            </div>
                        </ng-template>                       
                    </kendo-grid-column>
                    <kendo-grid-column [style]="{ 'text-align': 'left', padding: '5px' }"
                    [headerStyle]="{ justifyContent: 'center' }"  field="documentName" title="File *"
                    media="(min-width: 450px)" [width]="90">       
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <div *ngIf="dataItem.Isedit">
                        <input type="file" formControlName="documentName" [readonly]="disablefields" (change)="selectFile($event)" [multiple]="true"
                      class="form-control" width="50%" />
                    </div>
                    <div *ngIf="!dataItem.Isedit">
                        {{ dataItem.documentName }}
                    </div>
                    </ng-template>              
                </kendo-grid-column>
                    <kendo-grid-column [style]="{ 'text-align': 'left', padding: '5px' }"
                    [headerStyle]="{ justifyContent: 'center' }" field="remarks" title="Remarks"
                    media="(min-width: 450px)" [width]="150" >
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <div *ngIf="dataItem.Isedit">
                            <mat-form-field>
                                <textarea matInput  type="text" [readonly]="disablefields" formControlName="remarks" maxlength="500"
                                  placeholder="Remarks"></textarea>
              
                              </mat-form-field>
                        </div>
                        <div *ngIf="!dataItem.Isedit">
                            {{dataItem.remarks}}
                        </div>
                       
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column title="Action"
                media="(min-width: 450px)" [width]="40" [sticky]="true" >
                <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                  <div *ngIf="dataItem.Isedit" [hidden]="disablefields" class="d-flex" style="margin-left: 1rem;gap:2px;">
                    <a type="submit" (click)="showAddRowDoc ? addRow():Downloads()"> <ng-container *ngIf="showAddRowDoc; else editIcon">
                        <i class="fas fa-sd-card"></i>
                      </ng-container>
                      <ng-template #editIcon>
                
                      </ng-template></a>
                    <a type="submit" (click)="showAddRowDoc" #cancelButton tabindex="0" (click)="oncancelDoc(dataItem, rowIndex)"><i
                        class="fas fa-xmark"></i></a>
                  </div>
                
                  <div *ngIf="!dataItem.Isedit" style="margin-left: 1rem;gap:2px;">
                    <a type="submit" (click)="show(dataItem.documentName)" target="_blank"><i class="fas fa-eye"></i></a>&nbsp;
                    <a type="submit" [hidden]="disablefields" (click)="DeleteImage(dataItem.documentId,rowIndex)"><i
                        class="fas fa-trash"></i></a>&nbsp;
                    <a type="button" *ngIf="!dataItem.documentName" (click)="EditDoc(dataItem, rowIndex)"><i
                        class="fas fa-square-pen"></i></a>&nbsp;
                  </div>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column [style]="{ 'text-align': 'left', padding: '5px' }" [style]="{ 'text-align': 'center' }"
                [headerStyle]="{ justifyContent: 'center' }" title="ACT" 
                media="(min-width: 450px)" [width]="40" [sticky]="true">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                        <a type="submit" (click)="Download(dataItem.documentName)"><i class="fas fa-cloud-arrow-down"></i></a>
                </ng-template>
            </kendo-grid-column>
                 
            
            
                    <kendo-grid-row-index></kendo-grid-row-index>
                </kendo-grid>
            </section>
        </div>
    </div>
    </mat-card>
  </div>
</div>
<div class="m-4 mb-5 d-flex justify-content-end" style="bottom: 115px">
  <button *ngIf="!edit" class="btn btn-primary savebtn me-1" [hidden]="disablefields" type="submit" (click)="FollowUpSubmit()">
    <i class="fa fa-save me-2"></i> Save
  </button>
  <button *ngIf="edit" class="btn btn-primary savebtn me-1" [hidden]="disablefields" type="submit" (click)="FollowUpSubmit()">
    <i class="fa fa-save me-2"></i> Update
  </button>
  <button type="button" [hidden]="disablefields" class="btn btn-danger resetbtn" (click)="Reset()">
    <i class="fa fa-times-circle"></i> Reset
  </button>
</div>

<ng-template let-data #ImagePreview>
  <div class="d-flex justify-content-between">
    <h2 mat-dialog-title> Preview  </h2>
      <mat-icon class="m-2" mat-dialog-close style="color: red;cursor: pointer;">close</mat-icon>
  </div>
  <img src="{{data}}" alt="" style="max-width: 700px;">
</ng-template>

